body {
  background: transparent;
}
/* Layers */


.road-window {
  position: fixed;
  width: 101vw;
  height: 101vh;
  top: -1vh;
  left: -1vw;
  right: 0;
  bottom: 0;
  background: darkgreen;
}
.sky-window{
  position: fixed;
  width: 100vw;
  height: 50vh;
  top: 0vh;
  left: 0vw;
  right: 0;
  bottom: 0;
  background: #585978;
  box-shadow: 0px 1vw 100vw 5vw #fda14c;
}

/* Multiple uses styles */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

/* Road */
.road {
  width: 20px;
  height: 0;
  border-left: 40vw solid transparent;
  border-right: 40vw solid transparent;
  border-bottom: 50vh solid #565B5Fed;
}
.road-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

/* Road Border */
.road-border{
  width: 210px;
  height: 0px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}

.road-former{
  width: 5px;
  height: 10px;
}

.road-former-luminosity {
  position: absolute;
  top: -38.4vh;
  left: -33vw;
  height: 0vw;
  width: 0px;
  border-right: 13vw solid #F1F1F1;
  border-top: 52.8vw solid transparent;
  border-bottom: 4vw solid #F1F1F1;
  border-left: 0vw solid black;
  border-top-left-radius: 75%;
  border-top-right-radius: 2.7%;
  transform: rotate(47deg);
  -webkit-transform: rotate(54.2deg);
  background: transparent;
}

.road-right-luminosity {
  position: absolute;
  top: -27.8vh;
  left: 18.4vw;
  transform: rotate(47deg);
  -webkit-transform: rotate(-68.2deg);
  overflow: none;
}

.road-former-shadow {
  position: absolute;
  top: -33.5vh;
  left: -32.3vw;
  -webkit-transform: rotate(49deg);
  transform: rotate(49.3deg);
  height: 0vw;
  width: 0px;
  border-right: 13vw solid #AFAFAF;
  border-top: 53vw solid transparent;
  border-bottom: 4vw solid #AFAFAF;
  border-left: 0vw solid black;
  border-top-left-radius: 70%;
  border-top-right-radius: 0%;
  background: transparent;
}
.road-right-shadow {
  top: -23.5vh;
  left: 17.4vw;
  transform: rotate(47deg);
  -webkit-transform: rotate(-63.4deg);
}


/* Road Strip */
.road-strip{
  width: 1px;
  height: 1px;
  border-left: .15vw solid transparent;
  border-right: .15vw solid transparent;
  border-bottom: .3vh solid #ffffff;
  margin-top: 0vh;
}

.road-strip-animation {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1.5s;
  transition: 1.45s;
  transform: scale(20, 190);
  margin-top: 100vh;
}

/* Isles */
.isle-animation {
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  transform: scale(30, 150);
}
.isle {
  object-position: -60% 0%;
  left: 50%;
  right: 50%;
  width: 1px;
  height: 1px;
  border-top: 0 solid transparent;
  border-left: 0 solid transparent;
  border-bottom: 0 solid transparent;
  /* bring your own prefixes */
  transform: translate(-50%, 0%);
}

.isle-left {
  border-top: .2vw solid transparent;
  border-left: 4vh solid lightgray;
  border-bottom: 1vh solid transparent;
  transform: scale(10, 30);
  -webkit-transition: 4s;
  -moz-transition: 4s;
  -ms-transition: 4s;
  -o-transition: 4s;
  transition: 4s;
}  

.isle-right {
  border-top: .2vw solid transparent;
  border-right: 4vh solid lightgray;
  border-bottom: 1vh solid transparent;
  transform: scale(20, 60);
  -webkit-transition: 4s;
  -moz-transition: 4s;
  -ms-transition: 4s;
  -o-transition: 4s;
  transition: 4s;
}

/* sunset */

.sunset, .sun {
  position: absolute; 
  object-position: -60% 0%;
  top: 89.7%;
  left: 50%;
  right: 50%;
  width: 150px;
  height: 70px;
  background: #F1F1F1;
  transform: translate(-50%, -50%); 
  border-radius: 150px 150px 0 0; 
  box-shadow: 0px 10px 100vw 10vw #fda14c90;
  border: solid 10rem rgba(#F1F1F1, .1);
  z-index: -1;
}
.sun {
  top: 50%;
  background-color: transparent;
  box-shadow: inset 0px 35px 20px 5px #fda14c90;

}
